.Banner {
  position: relative;
  height: 600px;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.Banner img {
  object-position: 50% 50%;
  background-repeat: no-repeat;
  background-size: cover;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
  opacity: 70%;
  inset: 0px auto;
  transform: translateY(-30%);
  z-index: -1;
}

.Banner-details {
  margin: 40px;
}

.Banner-details h4 {
  font-family: var(--accent-font);
  font-size: 3rem;
  line-height: 0em;
}

.Banner-details h2 {
  text-transform: uppercase;
  font-family: var(--primary-font);
  font-weight: 300;
  font-size: 2.75rem;
  line-height: 0.1em;
}

.Banner-details p {
  max-width: 500px;
  font-family: var(--secondary-font);
  font-size: 0.85rem;
  line-height: 1.7em;
}

@media only screen and (max-width: 780px) {
  .Banner img {
    transform: translateY(0%);
  }
}
