.Ribbon {
  background: var(--blush-color);
  height: 8vh;
  display: flex;
  justify-content: center;
  align-items: center;
  border-top: 1px solid var(--primary-color);
  border-bottom: 1px solid var(--primary-color);
}

.Ribbon ul {
  font-family: var(--secondary-font);
  text-transform: uppercase;
  padding: 0 10px;
  font-size: 0.65rem;
  font-weight: 500;
  letter-spacing: 0.1em;
  color: var(--primary-color);
  text-decoration: none;
  list-style-type: none;
  display: flex;
  justify-content: center;
  align-items: center;
}

.Ribbon li {
  padding: 0 30px;
}

.Ribbon p {
  font-family: var(--accent-font);
  font-size: 1.75rem;
  line-height: 0.5em;
  padding-right: 10px;
}

.Ribbon-dot {
  font-size: 4px;
}

@media only screen and (max-width: 900px) {
  .Ribbon {
    height: 9vh;
  }

  .Ribbon p {
    display: none;
  }

  .Ribbon ul {
    flex-wrap: wrap;
    row-gap: 7px;
  }

  .Ribbon li {
    padding: 0 30px;
  }

  .Ribbon-dot {
    display: none;
  }
}
