.Ribbon {
  background: var(--secondary-color);
  height: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-top: 1px solid var(--primary-color);
  border-bottom: 1px solid var(--primary-color);
}

.Ribbon ul {
  text-transform: uppercase;
  font-family: var(--primary-font);
  font-weight: 300;
  font-size: 1.3rem;
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.Ribbon li {
  padding: 0 40px;
}

.Ribbon-dot {
  font-size: 4px;
}
